<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyCodeEditor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyCE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MyCodeEditor.My.MySettings>
            <setting name="acapoautomatico" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="aschermointero" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="barradistato" serializeAs="String">
                <value>si</value>
            </setting>
            <setting name="impostazionistatofinestra" serializeAs="String">
                <value>mass</value>
            </setting>
        </MyCodeEditor.My.MySettings>
        <MyCE.My.MySettings>
            <setting name="acapoautomatico" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="aschermointero" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="barradistato" serializeAs="String">
                <value>si</value>
            </setting>
            <setting name="impostazionistatofinestra" serializeAs="String">
                <value>mass</value>
            </setting>
        </MyCE.My.MySettings>
    </userSettings>
</configuration>